{%- if section.blocks.size > 0 -%}
<div data-placement_fullwidth="{%- if section.settings.placement_fullwidth -%}1{%- else -%}0{%- endif -%}"
     id="banner-{{section.id}}" class="row banners text-center{%- if section.settings.visible_on_mobile == false -%}{{" hidden-xs"}}{%- endif-%}" data-section-id="{{ section.id }}" data-section-type="banner">
 {%- for block in section.blocks limit: section.blocks.size -%}
  {%- assign image_width = block.settings.image_width -%}
  {%- assign image_height = block.settings.image_height -%}
 
  {%- capture image_size %}{{ image_width }}x{{ image_height }}{%- endcapture -%}

  
  <div  class="col-sm-4" {{ block.shopify_attributes }}>
    <a class = 'ct' href="{{block.settings.banner_link}}">
      {%- if block.settings.banner_image != blank -%}
      {%- assign img_url = block.settings.banner_image | img_url: image_size, crop: 'center' -%}
      {%- else -%}
      {%- assign img_url = '' -%}
      {%- endif -%}
      {%- if img_url == blank -%}
      <img style= "opacity:{{block.settings.Opacity_}}" class = "lazyload" data-src="{{"noimage_500_300.png" | asset_img_url : "master"}}" alt="" />
      {%- else -%}
      <img style= "opacity:{{block.settings.Opacity_}}" class = "lazyload" data-src="{{img_url}}" alt="" />
      {%- endif -%} 
      <div class="cent">
        {%- if block.settings.banner_text == blank -%}
        <div class="">{{block.settings.banner_text}}</div>
        {%- else-%}
        <div class="text">{{block.settings.banner_text}}</div>
        {%- endif-%}
  </div>
    </a>
    
  </div>
 {%- endfor -%}
</div>
{%- endif -%}
{% schema %}
  {
    "name": "Sub Banner",
    "class": "index-section section-wrapper",
    "max_blocks": 6,
    "settings": [
	  {
        "type": "checkbox",
        "id": "placement_fullwidth",
        "label": "Force Full Width"
      },
      {
        "type": "checkbox",
        "id": "visible_on_mobile",
        "label": "Show on Mobile",
        "default": true
      }
    ],
    "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
		{
		  "type": "header",
          "content": "Image"
		},
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Pick an Image"
        },
        {
          "type": "text",
          "id": "image_width",
          "label": "Width (in pixels)",
          "default": "500"
		},
        {
          "type": "text",
          "id": "image_height",
          "label": "Height (in pixels)",
          "default": "300"
		},
		{
		  "type": "header",
          "content": "Content"
		},
		{
        "type": "text",
          "id": "banner_link",
          "label": "Link",
          "default": "#"
        },
		{
        "type": "text",
          "id": "banner_text",
          "label": "Text"
        },
		{
          "type": "select",
          "id": "Opacity_",
          "label": "Image Opacity",
          "options": [
            {
              "value": "1",
              "label": "100%"
            },
            {
              "value": "0.9",
              "label": "90%"
            },
            {
              "value": "0.8",
              "label": "80%"
            },
            {
              "value": "0.7",
              "label": "70%"
            },
            {
              "value": "0.3",
              "label": "30%"
            }
          ],
          "default": "1"
        }
      ]
    }
    ],
    "presets": [
      {
        "name": "Sub Banner",
        "category": "Banners",
        "settings": {
			"visible_on_mobile": true
        },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% style %}

.cent {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.text {
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 2px 8px;
border-radius:3px;
}
{% endstyle %}