
{%- comment -%}All Collections Title Section{%- endcomment -%}

{%- comment -%}
<header class="brand products--{{ collection.handle }} c-header">
    {%- if collection.image -%}
    <img class="header__image" src="{{ collection.image | img_url: 'master' }} alt="{{ collection.title }} Logo.">
    {%- endif -%}

    <h1 class="header__title c-title">{{ collection.title | remove: 'Brand: ' }}</h1>

    {%- if collection.description -%}
    <div class="header__description c-styled-elements">
      {{ collection.description }}
    </div>
    {%- endif -%}
                                                      
</header>
{%- endcomment -%}                                     
<header class="brand products--{{ collection.handle }} c-header" {% if settings.toggle_collection_data %}style="display:none;"{% endif %}>
    <h1 class="header__title c-title t-xxxxl">{{ collection.title | remove: 'All: ' | remove: 'Brand: ' | remove: 'Type: ' }}</h1>

    <!--
    {% if brand and collection.image %}
    <img class="header__image" src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title | remove: 'Brand: ' }} Logo.">
    {% endif %}
    -->

    {%- if collection.description -%}
    {% comment %} <div id="output" class="header__description c-description t-md t-bold t-grey-dark u-margin--top"> {% endcomment %}
    <div id="output" class="header__description c-styled-elements" style=" max-width: 1000px; margin: 0 auto;">
      {{ collection.description }}
    </div>
    {%- endif -%}
</header>

<div class="content-block clearfix brand-collection-template">
<h1 class="snize-custom-collection-title">{{ collection.title }}</h1> 
  <style>
    .snize-custom-collection-title {
      opacity:0;
    }
  </style>
{% render 'searchanise-navigation' %}
</div>
</div>

{% comment %}
<!-- Overflow Text from Description; Moved via JS -->
<div class="row brand">
  {% comment %} <div id="overflow" class="c-description t-md t-bold t-grey-dark col-md-12 col-sm-12" style="padding-top: 60px; clear: both;"></div> {% endcomment %}
  <div id="overflow" class="c-styled-elements col-md-12 col-sm-12" style="padding-top: 60px; clear: both; max-width: 1000px; margin: 0 auto;"></div>
</div>
{% endcomment %}
<script src="{{ 'carzilla.js' | asset_url }}" async defer></script>
